{% extends 'MyAppBlogBundle::layout.html.twig' %}

{% block title %}Ajouter/Modifier un article{% endblock %}

{% block content %}

<h1>Ajouter un article</h1>

{% if message %}
<p>{{ message }}</p>
{% endif %}
<form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
</form>
<p><a href="{{ path('myapp_article_lister') }}">Retour à la liste des articles</a></p>

{% endblock %}