{% extends 'MyAppBlogBundle::layout.html.twig' %}

{% block title %}Liste des categories{% endblock %}

{% block content %}

<h1>Liste des categories</h1>

<table>
{% for c in categories %}
	<tr>
<td>{{ c.name }}</td>
<td><a href="{{ path('myapp_category_modifier', { 'id': c.id }) }}">Modifier</a></td>
<td><a href="{{ path('myapp_category_supprimer', { 'id': c.id }) }}">Supprimer</a></td>
</tr>
{% else %}
	<tr><td>Aucune catégorie n’a été trouvée.</td></tr>
{% endfor %}
</table>

<p><a href="{{ path('myapp_category_ajouter') }}">Ajouter une catégorie.</a><p>

{% endblock %}